@model HtmlString

@Html.Partial("_NavBar")
 
<!-- Header Small -->
<header id="servicesbg">
    <div class="container">
        <!-- Intro Section: Logo and Heading -->
        <div class="intro-text-sm">
            <div class="intro-lead-in">
                <img alt="Full Spoon" class="img-responsive center-block" height="80" src="~/CustomContent/img/full-spoon-logo.svg" width="450">
                <p><img alt="Full Spoon" src="~/CustomContent/img/bits/cake.svg"> </p>
                <div class="intro-heading"> Muffins & Cakes Café </div>
            </div>
        </div>
        <!-- /.Intro Section: Logo and Heading -->
    </div>
    <!-- /.container -->
</header>
<!-- ./Header Small -->
<!-- Services Section -->
<section id="menuv2">
    <div class="container">
        <!-- Heading and Subheading -->

        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="fadeInDown wow">
                    <h2 class="section-heading">Our <span class="orange-accent">Menu</span></h2>
                    <h3 class="section-subheading">We can make your party really delicious.</h3>
                </div>
            </div>
        </div>
        <!-- /.Heading and Subheading -->
        <!-- Border -->
        <div class="bounceIn wow">
            <div class="border">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <p class="mrgn30-btm"><img alt="border" class="img-responsive center-block" height="26" src="~/CustomContent/img/border-white.svg" width="177"></p>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.Border -->
        <!-- Description -->
        <div class="fadeInUp wow">
            <div class="row no-gutter">
                <div class="col-lg-12 mrgn20-btm">

                    <!-- Menu Content -->
                    <div class="row">
                        <div class="col-lg-12 ">
                            <!-- Panel Group -->
                            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                <div class="row">
                                    <!-- Menu 01 -->
                                    <div class="col-md-6 no-padding">
                                        <div class="panel panel-default text-center">
                                            <div class="panel-heading menu01" role="tab" id="headingOne">
                                                <h3 class="panel-title"><a class="menu-link" data-toggle="modal" href="#hotDrinks">Coffee &amp; Tea </a> </h3>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.Menu 01 -->
                                    <!-- Menu 02 -->
                                    <div class="col-md-6 no-padding">
                                        <div class="panel panel-default text-center">
                                            <div class="panel-heading menu02" role="tab" id="headingTwo">
                                                <h3 class="panel-title"> <a class="menu-link" data-toggle="modal" href="#hotDrinks"> Cocktails & Shots </a> </h3>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.Menu 02 -->
                                </div>
                                <div class="row">

                                    <!-- Menu 03 -->
                                    <div class="col-md-6 no-padding">
                                        <div class="panel panel-default text-center">
                                            <div class="panel-heading menu03" role="tab" id="headingThree">
                                                <h3 class="panel-title"> <a class="menu-link" data-toggle="modal" href="#hotDrinks"> Cupcakes & Muffins </a> </h3>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.Menu 03 -->
                                    <!-- Menu 04 -->
                                    <div class="col-md-6 no-padding">
                                        <div class="panel panel-default text-center">
                                            <div class="panel-heading menu04" role="tab" id="headingFour">
                                                <h3 class="panel-title"> <a class="menu-link" data-toggle="modal" href="#hotDrinks"> Salads &amp; Drinks </a> </h3>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.Menu 04 -->
                                </div>
                                <div class="row">

                                    <!-- Menu 05 -->
                                    <div class="col-md-6 no-padding">
                                        <div class="panel panel-default text-center">
                                            <div class="panel-heading menu05" role="tab" id="headingFive">
                                                <h3 class="panel-title"> <a class="menu-link" data-toggle="modal" href="#hotDrinks"> Party Food </a> </h3>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.Menu 05 -->
                                    <!-- Menu 06 -->
                                    <div class="col-md-6 no-padding">
                                        <div class="panel panel-default text-center">
                                            <div class="panel-heading menu06" role="tab" id="headingSix">
                                                <h3 class="panel-title"> <a class="menu-link" data-toggle="modal" href="#hotDrinks"> Specialty Food </a> </h3>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.Menu 06 -->
                                </div>
                            </div>
                        </div>
                        <!-- /.Panel Group -->
                    </div>
                </div>
                <!-- Careers Content -->
            </div>
        </div>
    </div>
    <!-- /.container -->
</section>
<!-- /.Menu Section -->
<!-- Testimonials Section -->
<section id="testimonials">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <!-- Owl Carousel -->
                <div id="owl-testimonials" class="owl-carousel">
                    <!-- Testimonial 01 -->
                    <div class="item">
                        <div class="row">
                            <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1  col-xs-10 col-xs-offset-1">
                                <h2>Jason's Birthday Party</h2>
                                <p class="mrgn30-top-btm">Our son's 16<sup>th</sup> party was a huge success because of all the guys from Full Spoon. It is very difficult to please a crows of teenagers but somehow they managed to do it. Thanks!!!</p>
                                <p class="orange-accent">Sheena and Mark from Inverness</p>
                            </div>
                        </div>
                    </div>
                    <!-- /.Testimonial 01 -->
                    <!-- Testimonial 02 -->
                    <div class="item">
                        <div class="row">
                            <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1  col-xs-10 col-xs-offset-1">
                                <h2>Beautiful Engagement Reception</h2>
                                <p class="mrgn30-top-btm">
                                    We chose Full Spoon to host our engagement party which was an overwhelming success. All of our relatives and friends were impressed with everything they did. Music was fantastic. The food was more than delicious. Drinks
                                    were the outmost success. We are thinking of asking them to host our wedding.
                                </p>
                                <p class="orange-accent">John and Adina from Glasgow</p>
                            </div>
                        </div>
                    </div>
                    <!-- /.Testimonial 02 -->
                    <!-- Testimonial 03 -->
                    <div class="item">
                        <div class="row">
                            <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1  col-xs-10 col-xs-offset-1">
                                <h2>Ben's Baby Shower</h2>
                                <p>We love you guys! The Baby Shower was magical. Parents loved it. Children loved it. We are your friends and clients forever! </p>
                                <p class="orange-accent">Bernie and Jenny from Manchester</p>
                            </div>
                        </div>
                    </div>
                    <!-- /.Testimonial 03 -->
                </div>
                <!-- /.Owl Carousel -->
            </div>
        </div>
    </div>
    <!-- /.container -->
</section>
<!-- /.Testimonials Section -->
@Html.Partial("_Footer")
@Model