<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="" name="description">
    <meta content="" name="author">
    <!-- Favicons -->
    <link rel="shortcut icon" href="~/CustomContent/img/favicon.png">
    <link rel="apple-touch-icon" href="~/CustomContent/img/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/CustomContent/img/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/CustomContent/img/apple-touch-icon-114x114.png">
    <title>Full Spoon - Restaurant Template </title>
    <!-- Bootstrap Core CSS -->
    <link href="~/CustomContent/css/bootstrap.min.css" rel="stylesheet">
    <!-- Full Spoon Custom CSS -->
    <link href="~/CustomContent/css/full-spoon.css" rel="stylesheet">
    <link href="~/CustomContent/animate-css/animate.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/CustomContent/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="~/CustomContent/owl-carousel/owl.theme.css">
    <!-- Full Spoon Custom Fonts -->
    <link href="~/CustomContent/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Catamaran:400,600,300,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Amatic+SC:400,700' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Alice" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body class="index" id="page-top">
    <!-- Loader -->
    <div class="se-pre-con"></div>
    <!-- /.Loader -->
    <!-- Navigation -->
    <nav class="navbar navbar-default nav-justified navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle are grouped for better mobile display -->

            <div class="navbar-header page-scroll">
                <button class="navbar-toggle" data-target="#bs-example-navbar-collapse-1" data-toggle="collapse" type="button"><span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span></button>
            </div>
            <!-- Navigation Links -->

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav nav-justified">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li> <a class="page-scroll" href="#page-top">Home</a> </li>
                    <li> <a class="page-scroll" href="#about">About</a> </li>
                    <li> <a class="page-scroll" href="#menu">Menu</a> </li>
                    <li> <a class="page-scroll" href="#services">Services</a> </li>
                    <li> <a class="page-scroll" href="#events">Events</a> </li>
                    <li> <a class="page-scroll" href="#team">Team</a> </li>
                    <li> <a class="page-scroll" href="#contact">Contact us</a> </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <!-- /.Navigation -->
    @RenderBody()
    <!-- Footer -->

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-12"> <span class="copyright">Copyright &copy;<a href="http://designify.me/" target="_blank">Designify.me</a></span> </div>
            </div>
        </div>
        <!-- /.container -->
    </footer>
    <!-- /.Footer -->
    <!-- Menu Cards Modals -->
    <!-- Menu Modal 01 -->
    <div class="menu-modal modal fade" id="menuModal1" tabindex="-1">
        <div class="modal-content">
            <!-- Close Modal Arrow -->

            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl"> </div>
                </div>
            </div>
            <!-- /.Close Modal Arrow -->

            <div class="container">
                <div class="row">
                    <div class="col-lg-10 col-lg-offset-1">
                        <!-- Modal Body -->

                        <div class="modal-body">
                            <!-- Menu Details Follow Here -->

                            <h2>Coctails & Shots</h2>
                            <p class="item-intro text-muted">Et definiebas repudiandae mel, alia vivendo in eos.</p>
                            <img alt="Coctails & Shots" src="~/CustomContent/img/bits/lemon.svg">
                            <div class="row">
                                <div class="col-md-6 text-left">
                                    <h3>Lorem Ipsum <span class="dark-accent">4.95$</span></h3>
                                    <p class="text-muted">Labore pertinax et eos, mei dicat scaevola ei. Ei cum noster tamquam, eu tation tincidunt dissentiunt vel, ad nam scripta constituto.</p>
                                    <h3>Lorem Ipsum <span class="dark-accent">4.95$</span></h3>
                                    <p class="text-muted">Labore pertinax et eos, mei dicat scaevola ei. Ei cum noster tamquam, eu tation tincidunt dissentiunt vel, ad nam scripta constituto.</p>
                                    <h3>Lorem Ipsum <span class="dark-accent">4.95$</span></h3>
                                    <p class="text-muted">Labore pertinax et eos, mei dicat scaevola ei. Ei cum noster tamquam, eu tation tincidunt dissentiunt vel, ad nam scripta constituto.</p>
                                    <h3>Lorem Ipsum <span class="dark-accent">4.95$</span></h3>
                                    <p class="text-muted">Labore pertinax et eos, mei dicat scaevola ei. Ei cum noster tamquam, eu tation tincidunt dissentiunt vel, ad nam scripta constituto.</p>
                                </div>
                                <div class="col-md-6 text-left">
                                    <h3>Lorem Ipsum <span class="dark-accent">4.95$</span></h3>
                                    <p class="text-muted">Labore pertinax et eos, mei dicat scaevola ei. Ei cum noster tamquam, eu tation tincidunt dissentiunt vel, ad nam scripta constituto.</p>
                                    <h3>Lorem Ipsum <span class="dark-accent">4.95$</span></h3>
                                    <p class="text-muted">Labore pertinax et eos, mei dicat scaevola ei. Ei cum noster tamquam, eu tation tincidunt dissentiunt vel, ad nam scripta constituto.</p>
                                    <h3>Lorem Ipsum <span class="dark-accent">4.95$</span></h3>
                                    <p class="text-muted">Labore pertinax et eos, mei dicat scaevola ei. Ei cum noster tamquam, eu tation tincidunt dissentiunt vel, ad nam scripta constituto.</p>
                                    <h3>Lorem Ipsum <span class="dark-accent">4.95$</span></h3>
                                    <p class="text-muted">Labore pertinax et eos, mei dicat scaevola ei. Ei cum noster tamquam, eu tation tincidunt dissentiunt vel, ad nam scripta constituto.</p>
                                </div>
                            </div>
                            <!-- /.Menu Details End Here -->
                            <button class="btn btn-primary" data-dismiss="modal" type="button"><i class="fa fa-times"></i> Close</button>
                        </div>
                        <!-- /.Modal Body -->
                    </div>
                </div>
            </div>
            <!-- /.container -->
        </div>
        <!-- /.Modal Content -->
    </div>
    <!-- /.Menu Modal 01 -->
    <!-- Menu Modal 02 -->
    <div class="menu-modal modal fade" id="menuModal2" tabindex="-1">
        <div class="modal-content">
            <!-- Close Modal Arrow -->

            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl"> </div>
                </div>
            </div>
            <!-- /.Close Modal Arrow -->

            <div class="container">
                <div class="row">
                    <div class="col-lg-10 col-lg-offset-1">
                        <div class="modal-body">
                            <!-- Menu Details Follow Here -->

                            <h2>Coffee & Tea</h2>
                            <p class="item-intro text-muted">Et definiebas repudiandae mel, alia vivendo in eos.</p>
                            <img alt="Coffee & Tea" src="~/CustomContent/img/bits/cappuccino.svg">
                            <div class="row">
                                <div class="col-md-6 text-left">
                                    <h3>Lorem Ipsum <span class="dark-accent">4.95$</span></h3>
                                    <p class="text-muted">Labore pertinax et eos, mei dicat scaevola ei. Ei cum noster tamquam, eu tation tincidunt dissentiunt vel, ad nam scripta constituto.</p>
                                    <h3>Lorem Ipsum <span class="dark-accent">4.95$</span></h3>
                                    <p class="text-muted">Labore pertinax et eos, mei dicat scaevola ei. Ei cum noster tamquam, eu tation tincidunt dissentiunt vel, ad nam scripta constituto.</p>
                                    <h3>Lorem Ipsum <span class="dark-accent">4.95$</span></h3>
                                    <p class="text-muted">Labore pertinax et eos, mei dicat scaevola ei. Ei cum noster tamquam, eu tation tincidunt dissentiunt vel, ad nam scripta constituto.</p>
                                    <h3>Lorem Ipsum <span class="dark-accent">4.95$</span></h3>
                                    <p class="text-muted">Labore pertinax et eos, mei dicat scaevola ei. Ei cum noster tamquam, eu tation tincidunt dissentiunt vel, ad nam scripta constituto.</p>
                                </div>
                                <div class="col-md-6 text-left">
                                    <h3>Lorem Ipsum <span class="dark-accent">4.95$</span></h3>
                                    <p class="text-muted">Labore pertinax et eos, mei dicat scaevola ei. Ei cum noster tamquam, eu tation tincidunt dissentiunt vel, ad nam scripta constituto.</p>
                                    <h3>Lorem Ipsum <span class="dark-accent">4.95$</span></h3>
                                    <p class="text-muted">Labore pertinax et eos, mei dicat scaevola ei. Ei cum noster tamquam, eu tation tincidunt dissentiunt vel, ad nam scripta constituto.</p>
                                    <h3>Lorem Ipsum <span class="dark-accent">4.95$</span></h3>
                                    <p class="text-muted">Labore pertinax et eos, mei dicat scaevola ei. Ei cum noster tamquam, eu tation tincidunt dissentiunt vel, ad nam scripta constituto.</p>
                                    <h3>Lorem Ipsum <span class="dark-accent">4.95$</span></h3>
                                    <p class="text-muted">Labore pertinax et eos, mei dicat scaevola ei. Ei cum noster tamquam, eu tation tincidunt dissentiunt vel, ad nam scripta constituto.</p>
                                </div>
                            </div>
                            <!-- /.Menu Details End Here -->
                            <button class="btn btn-primary" data-dismiss="modal" type="button"><i class="fa fa-times"></i> Close</button>
                        </div>
                        <!-- /.Modal Body -->
                    </div>
                </div>
            </div>
            <!-- /.container -->
        </div>
        <!-- /.Modal Content -->
    </div>
    <!-- /.Menu Modal 02 -->
    <!-- Menu Modal 03 -->
    <div class="menu-modal modal fade" id="menuModal3" tabindex="-1">
        <div class="modal-content">
            <!-- Close Modal Arrow -->

            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl"> </div>
                </div>
            </div>
            <!-- /.Close Modal Arrow -->

            <div class="container">
                <div class="row">
                    <div class="col-lg-10 col-lg-offset-1">
                        <!-- Modal Body -->

                        <div class="modal-body">
                            <!-- Menu Details Follow Here -->

                            <h2>Special Cupcakes & Muffins</h2>
                            <p class="item-intro text-muted">Et definiebas repudiandae mel, alia vivendo in eos.</p>
                            <img alt="Special Cupcakes & Muffins" src="~/CustomContent/img/bits/cupcake.svg">
                            <div class="row">
                                <div class="col-md-6 text-left">
                                    <h3>Lorem Ipsum <span class="dark-accent">4.95$</span></h3>
                                    <p class="text-muted">Labore pertinax et eos, mei dicat scaevola ei. Ei cum noster tamquam, eu tation tincidunt dissentiunt vel, ad nam scripta constituto.</p>
                                    <h3>Lorem Ipsum <span class="dark-accent">4.95$</span></h3>
                                    <p class="text-muted">Labore pertinax et eos, mei dicat scaevola ei. Ei cum noster tamquam, eu tation tincidunt dissentiunt vel, ad nam scripta constituto.</p>
                                    <h3>Lorem Ipsum <span class="dark-accent">4.95$</span></h3>
                                    <p class="text-muted">Labore pertinax et eos, mei dicat scaevola ei. Ei cum noster tamquam, eu tation tincidunt dissentiunt vel, ad nam scripta constituto.</p>
                                    <h3>Lorem Ipsum <span class="dark-accent">4.95$</span></h3>
                                    <p class="text-muted">Labore pertinax et eos, mei dicat scaevola ei. Ei cum noster tamquam, eu tation tincidunt dissentiunt vel, ad nam scripta constituto.</p>
                                </div>
                                <div class="col-md-6 text-left">
                                    <h3>Lorem Ipsum <span class="dark-accent">4.95$</span></h3>
                                    <p class="text-muted">Labore pertinax et eos, mei dicat scaevola ei. Ei cum noster tamquam, eu tation tincidunt dissentiunt vel, ad nam scripta constituto.</p>
                                    <h3>Lorem Ipsum <span class="dark-accent">4.95$</span></h3>
                                    <p class="text-muted">Labore pertinax et eos, mei dicat scaevola ei. Ei cum noster tamquam, eu tation tincidunt dissentiunt vel, ad nam scripta constituto.</p>
                                    <h3>Lorem Ipsum <span class="dark-accent">4.95$</span></h3>
                                    <p class="text-muted">Labore pertinax et eos, mei dicat scaevola ei. Ei cum noster tamquam, eu tation tincidunt dissentiunt vel, ad nam scripta constituto.</p>
                                    <h3>Lorem Ipsum <span class="dark-accent">4.95$</span></h3>
                                    <p class="text-muted">Labore pertinax et eos, mei dicat scaevola ei. Ei cum noster tamquam, eu tation tincidunt dissentiunt vel, ad nam scripta constituto.</p>
                                </div>
                            </div>
                            <!-- /.Menu Details End Here -->
                            <button class="btn btn-primary" data-dismiss="modal" type="button"><i class="fa fa-times"></i> Close</button>
                        </div>
                        <!-- /.Modal Body -->
                    </div>
                </div>
            </div>
            <!-- /.container -->
        </div>
        <!-- /.Modal Content -->
    </div>
    <!-- /.Menu Modal 03 -->
    <!-- Menu Modal 04 -->
    <div class="menu-modal modal fade" id="menuModal4" tabindex="-1">
        <div class="modal-content">
            <!-- Close Modal Arrow -->

            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl"> </div>
                </div>
            </div>
            <!-- /.Close Modal Arrow -->

            <div class="container">
                <div class="row">
                    <div class="col-lg-10 col-lg-offset-1">
                        <div class="modal-body">
                            <!-- Menu Details Follow Here -->

                            <h2>Fruit salads & Drinks</h2>
                            <p class="item-intro text-muted">Et definiebas repudiandae mel, alia vivendo in eos.</p>
                            <img alt="Fruit salads & Drinks" src="~/CustomContent/img/bits/forest-fruit.svg">
                            <div class="row">
                                <div class="col-md-6 text-left">
                                    <h3>Lorem Ipsum <span class="dark-accent">4.95$</span></h3>
                                    <p class="text-muted">Labore pertinax et eos, mei dicat scaevola ei. Ei cum noster tamquam, eu tation tincidunt dissentiunt vel, ad nam scripta constituto.</p>
                                    <h3>Lorem Ipsum <span class="dark-accent">4.95$</span></h3>
                                    <p class="text-muted">Labore pertinax et eos, mei dicat scaevola ei. Ei cum noster tamquam, eu tation tincidunt dissentiunt vel, ad nam scripta constituto.</p>
                                    <h3>Lorem Ipsum <span class="dark-accent">4.95$</span></h3>
                                    <p class="text-muted">Labore pertinax et eos, mei dicat scaevola ei. Ei cum noster tamquam, eu tation tincidunt dissentiunt vel, ad nam scripta constituto.</p>
                                    <h3>Lorem Ipsum <span class="dark-accent">4.95$</span></h3>
                                    <p class="text-muted">Labore pertinax et eos, mei dicat scaevola ei. Ei cum noster tamquam, eu tation tincidunt dissentiunt vel, ad nam scripta constituto.</p>
                                </div>
                                <div class="col-md-6 text-left">
                                    <h3>Lorem Ipsum <span class="dark-accent">4.95$</span></h3>
                                    <p class="text-muted">Labore pertinax et eos, mei dicat scaevola ei. Ei cum noster tamquam, eu tation tincidunt dissentiunt vel, ad nam scripta constituto.</p>
                                    <h3>Lorem Ipsum <span class="dark-accent">4.95$</span></h3>
                                    <p class="text-muted">Labore pertinax et eos, mei dicat scaevola ei. Ei cum noster tamquam, eu tation tincidunt dissentiunt vel, ad nam scripta constituto.</p>
                                    <h3>Lorem Ipsum <span class="dark-accent">4.95$</span></h3>
                                    <p class="text-muted">Labore pertinax et eos, mei dicat scaevola ei. Ei cum noster tamquam, eu tation tincidunt dissentiunt vel, ad nam scripta constituto.</p>
                                    <h3>Lorem Ipsum <span class="dark-accent">4.95$</span></h3>
                                    <p class="text-muted">Labore pertinax et eos, mei dicat scaevola ei. Ei cum noster tamquam, eu tation tincidunt dissentiunt vel, ad nam scripta constituto.</p>
                                </div>
                            </div>
                            <!-- /.Menu Details End Here -->
                            <button class="btn btn-primary" data-dismiss="modal" type="button"><i class="fa fa-times"></i> Close</button>
                        </div>
                        <!-- /.Modal Body -->
                    </div>
                </div>
            </div>
            <!-- /.container -->
        </div>
        <!-- /.Modal Content -->
    </div>
    <!-- /.Menu Modal 04 -->
    <!-- Menu Modal 05 -->
    <div class="menu-modal modal fade" id="menuModal5" tabindex="-1">
        <div class="modal-content">
            <!-- Close Modal Arrow -->

            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl"> </div>
                </div>
            </div>
            <!-- /.Close Modal Arrow -->

            <div class="container">
                <div class="row">
                    <div class="col-lg-10 col-lg-offset-1">
                        <div class="modal-body">
                            <!-- Menu Details Follow Here -->

                            <h2>Salty Nibbles</h2>
                            <p class="item-intro text-muted">Et definiebas repudiandae mel, alia vivendo in eos.</p>
                            <img alt="Salty Nibbles" src="~/CustomContent/img/bits/pretzel.svg">
                            <div class="row">
                                <div class="col-md-6 text-left">
                                    <h3>Lorem Ipsum <span class="dark-accent">4.95$</span></h3>
                                    <p class="text-muted">Labore pertinax et eos, mei dicat scaevola ei. Ei cum noster tamquam, eu tation tincidunt dissentiunt vel, ad nam scripta constituto.</p>
                                    <h3>Lorem Ipsum <span class="dark-accent">4.95$</span></h3>
                                    <p class="text-muted">Labore pertinax et eos, mei dicat scaevola ei. Ei cum noster tamquam, eu tation tincidunt dissentiunt vel, ad nam scripta constituto.</p>
                                    <h3>Lorem Ipsum <span class="dark-accent">4.95$</span></h3>
                                    <p class="text-muted">Labore pertinax et eos, mei dicat scaevola ei. Ei cum noster tamquam, eu tation tincidunt dissentiunt vel, ad nam scripta constituto.</p>
                                    <h3>Lorem Ipsum <span class="dark-accent">4.95$</span></h3>
                                    <p class="text-muted">Labore pertinax et eos, mei dicat scaevola ei. Ei cum noster tamquam, eu tation tincidunt dissentiunt vel, ad nam scripta constituto.</p>
                                </div>
                                <div class="col-md-6 text-left">
                                    <h3>Lorem Ipsum <span class="dark-accent">4.95$</span></h3>
                                    <p class="text-muted">Labore pertinax et eos, mei dicat scaevola ei. Ei cum noster tamquam, eu tation tincidunt dissentiunt vel, ad nam scripta constituto.</p>
                                    <h3>Lorem Ipsum <span class="dark-accent">4.95$</span></h3>
                                    <p class="text-muted">Labore pertinax et eos, mei dicat scaevola ei. Ei cum noster tamquam, eu tation tincidunt dissentiunt vel, ad nam scripta constituto.</p>
                                    <h3>Lorem Ipsum <span class="dark-accent">4.95$</span></h3>
                                    <p class="text-muted">Labore pertinax et eos, mei dicat scaevola ei. Ei cum noster tamquam, eu tation tincidunt dissentiunt vel, ad nam scripta constituto.</p>
                                    <h3>Lorem Ipsum <span class="dark-accent">4.95$</span></h3>
                                    <p class="text-muted">Labore pertinax et eos, mei dicat scaevola ei. Ei cum noster tamquam, eu tation tincidunt dissentiunt vel, ad nam scripta constituto.</p>
                                </div>
                            </div>
                            <!-- /.Menu Details End Here -->
                            <button class="btn btn-primary" data-dismiss="modal" type="button"><i class="fa fa-times"></i> Close</button>
                        </div>
                        <!-- /.Modal Body -->
                    </div>
                </div>
            </div>
            <!-- /.container -->
        </div>
        <!-- /.Modal Content -->
    </div>
    <!-- /.Menu Modal 05 -->
    <!-- Menu Modal 06 -->
    <div class="menu-modal modal fade" id="menuModal6" tabindex="-1">
        <div class="modal-content">
            <!-- Close Modal Arrow -->

            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl"> </div>
                </div>
            </div>
            <!-- /.Close Modal Arrow -->

            <div class="container">
                <div class="row">
                    <div class="col-lg-10 col-lg-offset-1">
                        <!-- /.Modal Body -->

                        <div class="modal-body">
                            <!-- Menu Details Follow Here -->

                            <h2>Custom menus</h2>
                            <p class="item-intro text-muted">Et definiebas repudiandae mel, alia vivendo in eos.</p>
                            <img alt="Custom menus" src="~/CustomContent/img/bits/pot.svg">
                            <div class="row">
                                <div class="col-md-6 text-left">
                                    <h3>Lorem Ipsum <span class="dark-accent">4.95$</span></h3>
                                    <p class="text-muted">Labore pertinax et eos, mei dicat scaevola ei. Ei cum noster tamquam, eu tation tincidunt dissentiunt vel, ad nam scripta constituto.</p>
                                    <h3>Lorem Ipsum <span class="dark-accent">4.95$</span></h3>
                                    <p class="text-muted">Labore pertinax et eos, mei dicat scaevola ei. Ei cum noster tamquam, eu tation tincidunt dissentiunt vel, ad nam scripta constituto.</p>
                                    <h3>Lorem Ipsum <span class="dark-accent">4.95$</span></h3>
                                    <p class="text-muted">Labore pertinax et eos, mei dicat scaevola ei. Ei cum noster tamquam, eu tation tincidunt dissentiunt vel, ad nam scripta constituto.</p>
                                    <h3>Lorem Ipsum <span class="dark-accent">4.95$</span></h3>
                                    <p class="text-muted">Labore pertinax et eos, mei dicat scaevola ei. Ei cum noster tamquam, eu tation tincidunt dissentiunt vel, ad nam scripta constituto.</p>
                                </div>
                                <div class="col-md-6 text-left">
                                    <h3>Lorem Ipsum <span class="dark-accent">4.95$</span></h3>
                                    <p class="text-muted">Labore pertinax et eos, mei dicat scaevola ei. Ei cum noster tamquam, eu tation tincidunt dissentiunt vel, ad nam scripta constituto.</p>
                                    <h3>Lorem Ipsum <span class="dark-accent">4.95$</span></h3>
                                    <p class="text-muted">Labore pertinax et eos, mei dicat scaevola ei. Ei cum noster tamquam, eu tation tincidunt dissentiunt vel, ad nam scripta constituto.</p>
                                    <h3>Lorem Ipsum <span class="dark-accent">4.95$</span></h3>
                                    <p class="text-muted">Labore pertinax et eos, mei dicat scaevola ei. Ei cum noster tamquam, eu tation tincidunt dissentiunt vel, ad nam scripta constituto.</p>
                                    <h3>Lorem Ipsum <span class="dark-accent">4.95$</span></h3>
                                    <p class="text-muted">Labore pertinax et eos, mei dicat scaevola ei. Ei cum noster tamquam, eu tation tincidunt dissentiunt vel, ad nam scripta constituto.</p>
                                </div>
                            </div>
                            <!-- /.Menu Details End Here -->
                            <button class="btn btn-primary" data-dismiss="modal" type="button"><i class="fa fa-times"></i> Close</button>
                        </div>
                        <!-- /.Modal Body -->
                    </div>
                </div>
            </div>
            <!-- /.container -->
        </div>
        <!-- /.Modal Content -->
    </div>
    <!-- /.Menu Modal 06 -->
    <!-- jQuery -->
    <script src="~/CustomContent/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="~/CustomContent/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="~/CustomContent/js/isotope.pkgd.min.js"></script>
    <script src="~/CustomContent/magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="~/CustomContent/js/classie.js"></script>
    <script src="~/CustomContent/js/cbpAnimatedHeader.min.js"></script>
    <script src="~/CustomContent/js/wow.min.js"></script>
    <script src="~/CustomContent/owl-carousel/owl.carousel.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="~/CustomContent/js/fullspoon.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="~/CustomContent/js/jqBootstrapValidation.js"></script>
    <script src="~/CustomContent/js/contact_me.js"></script>
</body>

</html>