@*@model Baskerville.Models.ViewModels.Public.MessagePageViewModel*@

@{
    ViewBag.Title = "Notification";
}

    @Html.Partial("_NavBar")
    <!-- Header Small -->
    <header id="aboutus">
        <div class="container">
            <!-- Intro Section: Logo and Heading -->

            <div class="intro-text-sm">
                <div style="padding-bottom: 30px" class="intro-lead-in">
                    <img alt="Baskerville" class="img-responsive center-block" height="80" src="~/CustomContent/img/baskerville5.png" width="450">
                    @*<p><img alt="Full Spoon" src="~/CustomContent/img/bits/cake.svg"> </p>
                    <div class="intro-heading"> Muffins & Cakes Café </div>*@
                </div>
            </div>
            <!-- /.Intro Section: Logo and Heading -->
        </div>
        <!-- /.container -->
    </header>
    <!-- /.Header Small -->
    <!-- Section Message -->
    <section id="four-o-four">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h3>@ViewBag.Header</h3>
                    <p>@ViewBag.Paragraph</p>
                    <p><img src="~/CustomContent/img/icons/paw-green72.png" class="img-responsive center-block" alt="Baskerville" />
                </div>
            </div>
        </div>
    </section>
    <!-- /.Section Message -->
    <!-- Footer -->
@Html.Partial("_Footer")


