@*@model Baskerville.Models.ViewModels.Public.MessagePageViewModel*@

@{
    ViewBag.Title = "Message";
}

<h2>Response</h2>

    @Html.Partial("_NavBar")
    <!-- Header Small -->
    <header id="aboutus">
        <div class="container">
            <!-- Intro Section: Logo and Heading -->

            <div class="intro-text-sm">
                <div class="intro-lead-in">
                    <img alt="Full Spoon" class="img-responsive center-block" height="80" src="~/CustomContent/img/full-spoon-logo.svg" width="450">
                    <p><img alt="Full Spoon" src="~/CustomContent/img/bits/cake.svg"> </p>
                    <div class="intro-heading"> Muffins & Cakes Café </div>
                </div>
            </div>
            <!-- /.Intro Section: Logo and Heading -->
        </div>
        <!-- /.container -->
    </header>
    <!-- /.Header Small -->
    <!-- Section Message -->
    <section id="four-o-four">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h3>@ViewBag.Header</h3>
                    <p>@ViewBag.Paragraph</p>
                    <p><img src="~/CustomContent/img/bits/fork-knife.svg" class="img-responsive center-block" alt="Full Spoon" />
                </div>
            </div>
        </div>
    </section>
    <!-- /.Section Message -->
    <!-- Footer -->
@Html.Partial("_Footer")


