@model Baskerville.Models.ViewModels.Public.MenuViewModel

@Html.Partial("_NavBar")
 
<!-- Header Small -->
<header id="servicesbg">
    <div class="container">
        <!-- Intro Section: Logo and Heading -->
        <div class="intro-text-sm">
            <div class="intro-lead-in">
                <img alt="Full Spoon" class="img-responsive center-block" height="80" src="~/CustomContent/img/full-spoon-logo.svg" width="450">
                <p><img alt="Full Spoon" src="~/CustomContent/img/bits/cake.svg"> </p>
                <div class="intro-heading"> Muffins & Cakes Café </div>
            </div>
        </div>
        <!-- /.Intro Section: Logo and Heading -->
    </div>
    <!-- /.container -->
</header>
<!-- ./Header Small -->
<!-- Services Section -->
<section id="menuv2">
    <div class="container">
        <!-- Heading and Subheading -->

        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="fadeInDown wow">
                    <h2 class="section-heading">Our <span class="orange-accent">Menu</span></h2>
                    <h3 class="section-subheading">We can make your party really delicious.</h3>
                </div>
            </div>
        </div>
        <!-- /.Heading and Subheading -->
        <!-- Border -->
        <div class="bounceIn wow">
            <div class="border">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <p class="mrgn30-btm"><img alt="border" class="img-responsive center-block" height="26" src="~/CustomContent/img/border-white.svg" width="177"></p>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.Border -->
        <!-- Description -->
        <div class="fadeInUp wow">
            <div class="row no-gutter">
                <div class="col-lg-12 mrgn20-btm">

                    <!-- Menu Content -->
                    <div class="row">
                        <div class="col-lg-12 ">
                            <!-- Panel Group -->
                            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                <div class="row">
                                    <!-- Menu 01 -->
                                    <div class="col-md-6 no-padding">
                                        <div class="panel panel-default text-center">
                                            <div class="panel-heading menu01" role="tab" id="headingOne">
                                                <h3 class="panel-title"><a class="menu-link" data-toggle="modal" href="#hotDrinks"> Hot Drinks </a> </h3>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.Menu 01 -->
                                    <!-- Menu 02 -->
                                    <div class="col-md-6 no-padding">
                                        <div class="panel panel-default text-center">
                                            <div class="panel-heading menu02" role="tab" id="headingTwo">
                                                <h3 class="panel-title"> <a class="menu-link" data-toggle="modal" href="#softDrinks"> Soft Drinks </a> </h3>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.Menu 02 -->
                                </div>
                                <div class="row">

                                    <!-- Menu 03 -->
                                    <div class="col-md-6 no-padding">
                                        <div class="panel panel-default text-center">
                                            <div class="panel-heading menu03" role="tab" id="headingThree">
                                                <h3 class="panel-title"> <a class="menu-link" data-toggle="modal" href="#beers"> Beers </a> </h3>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.Menu 03 -->
                                    <!-- Menu 04 -->
                                    <div class="col-md-6 no-padding">
                                        <div class="panel panel-default text-center">
                                            <div class="panel-heading menu04" role="tab" id="headingFour">
                                                <h3 class="panel-title"> <a class="menu-link" data-toggle="modal" href="#cocktails"> Cocktails </a> </h3>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.Menu 04 -->
                                </div>
                                <div class="row">

                                    <!-- Menu 05 -->
                                    <div class="col-md-6 no-padding">
                                        <div class="panel panel-default text-center">
                                            <div class="panel-heading menu05" role="tab" id="headingFive">
                                                <h3 class="panel-title"> <a class="menu-link" data-toggle="modal" href="#liqueurs&Shots"> Liqueurs & Shots </a> </h3>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.Menu 05 -->
                                    <!-- Menu 06 -->
                                    <div class="col-md-6 no-padding">
                                        <div class="panel panel-default text-center">
                                            <div class="panel-heading menu06" role="tab" id="headingSix">
                                                <h3 class="panel-title"> <a class="menu-link" data-toggle="modal" href="#wines&Champagne"> Wines & Champagne </a> </h3>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.Menu 06 -->
                                </div>
                                <div class="row">

                                    <!-- Menu 07 -->
                                    <div class="col-md-6 no-padding">
                                        <div class="panel panel-default text-center">
                                            <div class="panel-heading menu03" role="tab" id="headingThree">
                                                <h3 class="panel-title"> <a class="menu-link" data-toggle="modal" href="#spirits"> Spirits </a> </h3>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.Menu 07 -->
                                    <!-- Menu 08 -->
                                    <div class="col-md-6 no-padding">
                                        <div class="panel panel-default text-center">
                                            <div class="panel-heading menu04" role="tab" id="headingFour">
                                                <h3 class="panel-title"> <a class="menu-link" data-toggle="modal" href="#foods&Appetizers"> Food & Appetizers </a> </h3>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.Menu 08 -->
                                </div>
                            </div>
                        </div>
                        <!-- /.Panel Group -->
                    </div>
                </div>
                <!-- Careers Content -->
            </div>
        </div>
    </div>
    <!-- /.container -->
</section>
<!-- /.Menu Section -->
<!-- Testimonials Section -->
<section id="testimonials">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <!-- Owl Carousel -->
                <div id="owl-testimonials" class="owl-carousel">
                   
                    @Model.News

                </div>
                <!-- /.Owl Carousel -->
            </div>
        </div>
    </div>
    <!-- /.container -->
</section>
<!-- /.Testimonials Section -->
@Html.Partial("_Footer")
@Model.Menu