@using Baskerville.Models.ViewModels
@model IEnumerable<ProductViewModel>

@{
    ViewBag.Title = "Продукти";
}

<h2>Продукти</h2>
<hr />
<br />
<br />
<table id="products" class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Име</th>
            <th>Цена</th>
            <th>Публично</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            string publicColorClass = "btn-default-text";
            string publicText = "Не";
            if (product.IsPublic)
            {
                publicColorClass = "btn-success-text";
                publicText = "Да";
            }

            <tr>
                <td>@Html.ActionLink(product.NameBg, "Details", new { id = product.Id })</td>
                <td>@product.Price</td>
                <td>
                    <button product-id="@product.Id" class="btn-link @publicColorClass js-update">@publicText</button>
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts
{
    <script>
        $(document).ready(function () {
            $("#products").DataTable({
                "oLanguage": {
                    "sSearch": "Търси",
                    "sZeroRecords": "Няма намерени резултати",
                    "sInfoFiltered": "- филтрирано от общо _MAX_ записа",
                    "sInfo": "Страница _PAGE_ от _PAGES_ (_TOTAL_ резултата)",
                    "sInfoEmpty": "Няма записи",
                    "sLengthMenu": "Показвай _MENU_ резултата на страница",
                    "oPaginate": {
                        "sNext": "Следваща",
                        "sPrevious": "Предишна"
                    }
                }
            });

            $('#products').on('click', '.js-update', function () {
                var button = $(this);

                $.ajax({
                    method: 'POST',
                    url: '/admin/products/UpdatePublicity',
                    ajaxasync: true,
                    data: { id: button.attr('product-id') },
                    success: function () {
                        var v = button.text();
                        if (v === 'Да') {
                            button.text('Не')
                            button.removeClass('btn-success-text')
                            button.addClass('btn-default-text')
                        } else {
                            button.text('Да')
                            button.removeClass('btn-default-text')
                            button.addClass('btn-success-text')
                        }
                    }
                })
            })
        })
    </script>
}